*{
    /* بديه صفر عشان الموقع نفسه مدي 8 margim و pading غشان الاقي الكلام لزق من فوق والجنب */
    margin: 0;
    padding: 0;
}

body{
    /* ادمج لونين في الخلفيه */
    background: linear-gradient(rgb(70, 2, 83) , rgb(25, 3, 77));
    /* هلاقي الخلفيه متكرره هاخلي الطول100 هلاقي الحلفيه بقيت واحده بطول الصفحه كلها */
    height: 100vh;
    /* تغيير نوع الخط */
font-family: system-ui ;
}

a{
    /* شيل الخط اللي تحت اللينك */
    text-decoration: none;
    color: rgb(236, 226, 226);

}

/* تنسيق الهيدر نفسه جواه h2/ navbar */
header{

    /* اخليهم جنب بعض */
    display: flex;
    /*المسؤله عن التحكم بالعرض بعمل مسافه بين كل عنصر بجيب واحد علي اليمين وواحد علي الشمال */
    justify-content: space-between;
/* المسؤله عن التحكم في الطول وهلاقي نزل تحت شويل h2*/
    align-items: center;
    /* مسافه من كل الاتجاهات لكل عنصر */
    margin: 30px;
/* هاعمل دول بعد مااعمل الصور كلها */
    /* عشان اخلي صور النجوم اللي في الخلفيه تبقا بطول الصفحه */
    position: absolute;
    /* هلاقي الناف ضرب اظبطه كدا */
    width: 95%;
    /* عشان الناف يطلع فوق كل حاجه */
    z-index: 100 ;
}


/* h2 */
header .logo{
/* حجم الخط */
    font-size: 30px;
    /* هلاقيها تكبر الكتر */
    text-transform: uppercase;
}
 
/* navbar */
header ul{
/* اجيبهم جنب بعض */
display: flex;
/* عشان الوسطنهم استخدم الاتنين دول */
justify-content: center;
align-items: center;
/* بشيل النقط اللي جنب كل عنصر */
list-style: none;
    
}

/* عشان افصل كل عنصر لازم ادخل من الاب وبعدين الابن الكبير وبعدين الابن الوسطان لحد ما اوصل للعنصر الاساسي نفسه */
header ul li{
    /* مسافه بين كل li */
margin-right: 30px;

}

/* جوا aهادي تنسيقات لل  nav بس */
header ul li a{
    /* 6px مسافه من فوق ومن تحت */
    /* 15px مسافه من اليمين والشمال */
    padding: 6px 15px;
    /* بخليهاشكلها بيضاوي */
    border-radius: 20px;
}

/* لما اقف عليه لون يتغير */
/* activ دا كلاس بقوله خليه دايما ملون */
header ul li a:hover ,     .activ{
    /* الخلفيه لما اقف بيضه */
    background: #fff;
    /* والكلام اسود */
    color: #000;
}

/* كلاس الاب الصور  */
.main{
/* عشان الاب يبقا ثابت */
    position: relative;
    /* العرض الشاشه */
    width: 100%;
    /* طول الشاشه */
    height: 100vh;
     /* عشان اجيب الكلمه في النصف */
     display: flex;
     justify-content: center;
    align-items: center; 
     /* عشان خلي القمر يطظبط بعد ما اعمله في js */
    overflow: hidden;
}


/* هلاقي بعد ماكتب الرجراف تحت هلاقي خلفيه اللون من تحت مش متداخل في بعض وشكله حلو عشان يبقا متناسق هامسك الكلاس الرايسي*/
/* afterهاتكون عباره هن لون هاتحطه بعد السكشن دا */
.main::after{
content: '';
/* عشان اتحكم في الموقع  */
position: absolute;
/* بقوله اللون هايبدا عندي من تحت */
bottom: 0;
/* عشان تظهر هاديلها طول وعرض*/
height: 100px;
width: 100%;
/* احط خلفيه وادمج اللون مع فراغ */
background: linear-gradient(to top, rgb(70, 2, 83) ,transparent);

}

/* كلاس الابن الصور */
.main img{
    /* الابناء الصور هايتحركه بنأً الاب بتاعهم */
    position: absolute;
    /* عشان الصور تتظبط العرض الشاشه */
    width: 100%;
    /* طول الشاشه */
    height: 100vh;
    /* هلاقي الصور تتشد عشان تظيط للشكل الاصلي */
    object-fit: cover;
   
}

/* امسك القمر */
#moon{
    /* عشان القمر يتظبط */
    mix-blend-mode: screen;
    /* بقوله انزل يبقا حاتبقا بالموجب+ */
    transform: translateY(80px);
    

}
/* امسك الكلمه  */
.nouvil{
color: #fff;
/* حجم الخط */
font-size: 25px;
/* اكبر الحروف او الكلمه */
text-transform: uppercase;
/* display: flex; عايز اخالي الكلمع في النصف وعشان شغاليين علي الفليكس بوكس نروح للبيرنت بتاعه نروح للكلاس الاب واديله  */
/* عشان الكلمه تطلع فوق الصور */
/* الطرقه دي بتخلي الكلمه تطلع فوق تبقا تحت القمر لو حطيت سالب(-) */
/* yفي الكلمه يعني بقوله اكلع من نحيت y */
/* وبنفس الطريقه هانزل القمر شويه صغيريين */
transform: translateY(-140px);
}

/* امسك اخر سيكشن */
.content{
    color:#fff;
    /* مسافه داخليه */
    padding: 30px;

}

/* امسكh2 */
.content h2{
    /* مسافه خارجيه */
    margin: 20px;
    /* حجم */
    font-size: 30px;
}

/* امسكp */
.content p{
    /* مسافه خارجيه او مسافه بين كل عنصر*/
margin: 20px;

}

